body{
    background-color: #DCDCDC;
}
.menu2{
    width: 1200px;
}
.menu3{
    font-size: 30px;
}
.koko{
    border-radius: 30px;
   
}
.koko:hover{
    border-radius: 30px;
    background-color: #FF90E8;

    margin: 0;
    color: white;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
}
.imgmenu{
    width: 120px;
    margin-left: 10%;
}
.rozovi{
    background-color: #FF90E8;
    border-radius: 30px;
    margin: 0;
    color: white;
}
.rozovi:hover{
    background-color: brown;
    color: white;
}
@media screen and (max-width: 1095px) { 
    .imgmenu{
        margin: 0;
        margin-left: 7%;
        
    }
 }
 @media screen and (max-width: 992px) { 
    .imgmenu{
        display: none;
    }
 }
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        margin: 30px;
        display: flex !important;
        justify-content: center;
    }
    .menu3{
        display: none;
    }
}
/*карта*/
.map{
    border-radius: 30px;
 }
 [class*="copyrights-pane"]{
    display: none !important;
 }
 [class*="ground-pane"]{
    filter: hue-rotate(180deg);
	-ms-filter: hue-rotate(180deg);
	-webkit-filter: hue-rotate(180deg);
	-moz-filter: hue-rotate(180deg);
	-o-filter: hue-rotate(180deg);
    

	/* Розовый цвет !!!
    filter: hue-rotate(260deg);
  	-ms-filter: hue-rotate(260deg);
	-webkit-filter: hue-rotate(260deg);
 	-moz-filter: hue-rotate(260deg);
	-o-filter: hue-rotate(260deg);   */
}
.cruglaekarta{
    border-radius: 90px;
    overflow: hidden;
}
.row.six{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* кнопки фильтрации*/
.category-button{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #FF90E8;
    margin-bottom: 10px;
}

.category-button:hover{
    background-color: brown;
}
section.magazinn{
   margin: 0 auto; 
}
button{
    width: 90px;
    border: none;
}
.container.magazin{
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 10px;
}
.cnopki{
    text-align: center;
}

.map{
    margin: 0 auto;
}